<div class="row">
    <div class="col-1 col-sm-1 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
    </div>

    <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <form method="post" id="frmEncuesta" class="ps-2 pe-4">
            <input type="hidden" id="id" name="id" value="{{ '{{ encuesta.id }}' }}">
            <!-- cliente -->
            <div class="mb-2">
                <span class="text-danger">*</span>
                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente" name="cliente" class="form-control form-control-lg while-waiting"
                    value="{{ '{{ encuesta.cliente }}' }}" required="true">
            </div>
            <!-- reparacion -->
            <div class="mb-2">
                <span class="text-danger">*</span>
                <label for="reparacion">Reparacion:</label>
                <input type="text" id="reparacion" name="reparacion" class="form-control form-control-lg while-waiting"
                    value="{{ '{{ encuesta.reparacion }}' }}" required="true">
            </div>
            <!-- todoFunciona -->
            <div class="mb-2">
                <span class="text-danger">*</span>
                <label class="d-block mb-1">Todo funciona:</label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input while-waiting" type="radio" name="todoFunciona" id="todoFuncionaSi"
                        ng-model="encuesta.todoFunciona" ng-value="1" required>
                    <label class="form-check-label" for="todoFuncionaSi">Sí</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input while-waiting" type="radio" name="todoFunciona" id="todoFuncionaNo"
                        ng-model="encuesta.todoFunciona" ng-value="0" required>
                    <label class="form-check-label" for="todoFuncionaNo">No</label>
                </div>
            </div>
            <!-- fueRapido -->
            <div class="mb-2">
                <span class="text-danger">*</span>
                <label class="d-block mb-1">Fue rápido:</label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input while-waiting" type="radio" name="fueRapido" id="fueRapidoSi"
                        ng-model="encuesta.fueRapido" ng-value="1" required>
                    <label class="form-check-label" for="fueRapidoSi">Sí</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input while-waiting" type="radio" name="fueRapido" id="fueRapidoNo"
                        ng-model="encuesta.fueRapido" ng-value="0" required>
                    <label class="form-check-label" for="fueRapidoNo">No</label>
                </div>
            </div>
            <!-- recomiendaServicio -->
            <div class="mb-2">
                <span class="text-danger">*</span>
                <label class="d-block mb-1">Recomienda servicio:</label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input while-waiting" type="radio" name="recomiendaServicio"
                        id="recomiendaServicioSi" ng-model="encuesta.recomiendaServicio" ng-value="1" required>
                    <label class="form-check-label" for="recomiendaServicioSi">Sí</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input while-waiting" type="radio" name="recomiendaServicio"
                        id="recomiendaServicioNo" ng-model="encuesta.recomiendaServicio" ng-value="0" required>
                    <label class="form-check-label" for="recomiendaServicioNo">No</label>
                </div>
            </div>
            <div class="mb-2 text-end">
                <button class="btn btn-primary btn-lg while-waiting">
                    <span class="ng-hide" ng-show="!encuesta.id">Registrar</span>
                    <span class="ng-hide" ng-show="encuesta.id">Actualizar</span>
                </button>
            </div>
        </form>
        <div class="div-encuesta"></div>
    </div>

    <div class="col-1 col-sm-1 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
    </div>
</div>

<div class="div-to-complete-screen"></div>